@import url('@/resource/css/variables.less');
.container {
	background-color: @light-blue-color;
	height: 100%;
	width: 100%;
	.top_line {
		width: 100%;
		height: 150/@rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 45/@rpx 0 35/@rpx;
		.left {
			display: flex;
			align-items: center;
			.profile {
				width: 85/@rpx;
				height: 85/@rpx;
				border-radius: 50/@rpx;
				background-color: yellow;
			}
			.text {
				margin-left: 23/@rpx;
				font-size: 39/@rpx;
				height: 50/@rpx;
				line-height: 50/@rpx;
			}
		}
		.right {
			display: flex;
			align-items: center;
			.live {
				display: flex;
				flex-direction: column;
				align-items: center;
				.iconfont {
					font-size: 65/@rpx;
				}
				.live-text{
					font-size: 35/@rpx;
				}
			}
			.search {
				margin-left: 35/@rpx;
				font-size: 58/@rpx;
			}
		}
	}
	.market {
		height: 660/@rpx;
		margin: 0 37/@rpx;
		background-color: white;
		padding: 47/@rpx 38/@rpx 44/@rpx 38/@rpx;
		border-radius: 30/@rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.one {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left {
				font-size: 54/@rpx;
				font-weight: bold;
			}
			.right {
				font-size: 33/@rpx;
				.iconfont {
					padding-left: 8/@rpx;
					font-size: 33/@rpx;
				}
			}
		}
		.two {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left {
				width: 262/@rpx;
				height: 204/@rpx;
				background-color: @slight-main-color;
				padding: 30/@rpx 20/@rpx 30/@rpx 20/@rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 10/@rpx;
				
				.a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.l {
						font-size: 32/@rpx;
					}
					.r {
						font-size: 32/@rpx;						
					}
				}
				.b {
					font-size: 32/@rpx;
					color: @main-color;
				}
				.c {
					font-size: 26/@rpx;
					color: @main-color;
				}
			}
			.block {
				height: 204/@rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				.half-block {
					width: 304/@rpx;
					height: 91/@rpx;
					background-color: @slight-main-color;		
					display: flex;
					justify-content: space-between;
					padding: 23/@rpx 23/@rpx;
					border-radius: 10/@rpx;
					.hb-left {
						font-size: 34/@rpx;
					}
					.hb-right {
						font-size: 27/@rpx;		
						color: @light-main-color;
					}
				}
				
				
			}
			
		}
		.three {
			
			.swiper {
				height: 70/@rpx;
				.s-item {
					
					background-color: @light-background-color;
					border-radius: 50/@rpx;
					display: flex;
					align-items: center;
					.img {
						display: block;
						width: 65/@rpx;
						height: 65/@rpx;
						background-color: yellow;
						border-radius: 50/@rpx;
					}
					.text {
						margin-left: 20/@rpx;
						font-size: 37/@rpx;
					}
				}
			}
			
		}
		.four {
			background-color: @light-background-color;
			padding-left: 32/@rpx;
			border-radius: 50/@rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.f-left {
				font-size: 41/@rpx;
			}
			.f-right {
				padding: 18/@rpx 24/@rpx;
				font-size: 41/@rpx;
				border-radius: 50/@rpx;
				background-color: @main-color;
				color: white;
			}
		}
	}
	.ai_manager {
		margin: 0 37/@rpx;
		margin-top: 25/@rpx;
		background-color: white;
		padding: 47/@rpx 38/@rpx 44/@rpx 38/@rpx;
		border-radius: 30/@rpx;
		.one {
			font-size: 45/@rpx;
		}
		.two {
			display: flex;
			justify-content: center;
			align-items: center;
			.iconfont {
				font-size: 80/@rpx;			
			}
			.button {
				background-color: @main-color;
				border-radius: 50/@rpx;
				margin-left: 20/@rpx;
				font-size: 40/@rpx;
				width: 200/@rpx;
				height: 93/@rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
			}
		}
		
	}
	.wealth_top {
		margin: 0 37/@rpx;
		margin-top: 26/@rpx;
		background-color: white;
		padding: 47/@rpx 38/@rpx 44/@rpx 38/@rpx;
		border-radius: 30/@rpx;
		height: 450/@rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title {
			font-size: 45/@rpx;
		}
		.block {
			display: flex;
			align-items: center;
			.left {
				padding: 5/@rpx 12/@rpx;
				font-size: 28/@rpx;
				border-radius: 10/@rpx;				
				display: flex;
				justify-content: center;
				align-items: center;		
			}
			.right {
				font-size: 33/@rpx;
				margin-left: 27/@rpx;
			}
			
		}
	}
	.organization_talk {
		margin: 0 37/@rpx;
		margin-top: 26/@rpx;
		background-color: white;
		padding: 47/@rpx 38/@rpx 44/@rpx 38/@rpx;
		border-radius: 30/@rpx;
		height: 340/@rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.one {
			display: flex;
			justify-content: space-between;
			.left {
				font-size: 46/@rpx;
			}
			.right {
				padding: 10/@rpx 10/@rpx;
				font-size: 30/@rpx;
				background-color: @light-background-color;
				border-radius: 20%;
			}
		}
		.two {
			display: flex;
			
			.left {
				.img {
					display: block;
					width: 78/@rpx;
					height: 67/@rpx;
				}
			}
			.right {
				margin-left: 10/@rpx;
				font-size: 38/@rpx;
				.organizationName{
					font-weight: bold;
				}
				.text {
					
				}
			}
			
		}
	}
	.frequent_look {
		margin: 0 37/@rpx;
		margin-top: 26/@rpx;
		
		.title {
			font-size: 51/@rpx;
			font-weight: bold;
			
		}
		
		.scroll-view {
			margin-top: 43/@rpx;
			width: 100%;
			white-space: nowrap;
			.block_wrapper {
				display: inline-block;
				width: 450/@rpx;
				&:not(:first-child) {
					margin-left: 20/@rpx;
				}
				.block {
					padding: 40/@rpx;
					display: flex;
					
					flex-direction: column;
					justify-content: space-between;
					background-color: white;
					width: 450/@rpx;
					border-radius: 5%;
					height: 360/@rpx;
					.top {
						display: flex;
						justify-content: space-between;
						height: 53/@rpx;
						align-items: center;
						.left {
							display: flex;
							height: 100%;
							align-items: center;
							.icon {
								
								font-size: 25/@rpx;
								border-radius: 50%;
								background-color: #f1f6fc;
								padding: 10/@rpx;
							}
							.text {
								
								margin-left: 10/@rpx;
								font-size: 45/@rpx;
							}
						}
						.right {
							font-size: 26/@rpx;
						}
					}
					.bottom {
						height: 170/@rpx;
						
						.type_user {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							height: 100%;
						
							.to-top {
								color: #858585;
								font-size: 41/@rpx;
							}
							.to-bottom {
								display: flex;
								align-items: center;
								.tb-img {
									
									display: block;
									width: 96/@rpx;
									height: 92/@rpx;
								}
								.tb-text {
									font-size: 41/@rpx;
									margin-left: 7/@rpx;
								}
							}
						}
						.type_discussion_area{
							height: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							.tda-top{
								display: flex;
								justify-content: space-between;
								align-items: center;
								.tdat-left {
									font-size: 40/@rpx;
									color: @main-color;
								}
								.tdat-right {
									font-size: 23/@rpx;
									color: @main-color;
									background-color: @slight-main-color;
									border-radius: 10%;
									padding: 10/@rpx;
								}
							}
							.tda-bottom {
								margin-top: 23/@rpx;
								font-size: 40/@rpx;
							}
						}
						.type_circle {
							height: 100%;
							display: flex;
							justify-content: space-between;
							flex-direction: column;
							font-size: 36/@rpx;
							padding: 25/@rpx 21/@rpx;
							background-color: #fef9f5;
							border-radius: 20%;
							.tc-top-101 {
								display: flex;
								justify-content: space-between;
								align-items: center;
								.left-103 {
									
								}
								.right-104 {
									color: @main-color;
								}
							}
							.tc-bottom-102 {
								color: @gray;
							}
						}
						.type_topic {
							height: 100%;
						
							font-size: 36/@rpx;
							padding: 25/@rpx 21/@rpx;
							background-color: #fffcf7;
							border-radius: 20%;
						}
					}
				}
				
			}
			
			
			
		}
	}
	.square-109 {
		margin: 0 37/@rpx;
		margin-top: 26/@rpx;
		
		.one-110 {
			font-size: 51/@rpx;
			font-weight: bold;
		}
		.two-111 {
			margin-top: 42/@rpx;
			display: flex;
			justify-content: space-between;
			.left-112 {
				border-radius: 5%;
				.swiper {
					height: 640/@rpx;
					width: 475/@rpx;
					.item {
						.img {
							width: 100%;
							width: 100%;
							
						}
					}
				}
			}
			.right-113 {
				height: 640/@rpx;
				width: 475/@rpx;
				background-color: white;
				padding: 53/@rpx 40/@rpx 21/@rpx 31/@rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-radius: 5%;
				.a-114 {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.left-120 {
						display: flex;
						justify-content: center;
						align-items: center;
						.iconfont {
							color: #2c5db0;
							font-size: 38/@rpx;
						}
						.text-122 {
							margin-left: 6/@rpx;
							font-size: 27/@rpx;
						}
					}
					.right-121 {
						display: flex;
						justify-content: center;
						align-items: center;
						.iconfont {
							font-size: 30/@rpx;
						}
						.text-123 {
							margin-left: 6/@rpx;
							font-size: 27/@rpx;
						}
					}
				}
				.b-115 {
					font-size: 50/@rpx;
					line-height: 65/@rpx;
				}
				.c-116 {
					display: flex;
					justify-content: space-between;
					.left-124 {
						font-size: 34/@rpx;
					}
					.right-125 {
						
						width: 251/@rpx;
						height: 237/@rpx;
						.img-126{
							width: 100%;
							height: 100%;
							
						}
					}
				}
				.d-117 {
					display: flex;
					align-items: center;
					.left-130 {
						font-size: 55/@rpx;
					}
					.middle-131 {
						padding-left: 24/@rpx;
						flex-grow: 1;
						font-size: 34/@rpx;
					}
					.right-132 {
						font-size: 22/@rpx;
					}
				}
			}
		}
	}
}